{% extends "base.html" %}
{% block titulo %}
    Inicia sesión
{% endblock titulo %}

{% block content %}
    <div class="row">
    	<div class="col-md-8">
    		<form method="POST">
    			{% csrf_token %}
    			<h1>Iniciar sesión</h1>
    			{% for field in form %}
    				{%for message in messages %}
    					<div class="alert alert-danger">
    						{{message}}
    					</div>
    				{% endfor %}
    			<label>{{field.label}}</label>
    			<input type="{% if field.label == 'Contraseña' %}password{% else %}input{%endif%}" placeholder="{{field.label}}" name="{{field.name}}" class="form-control" >
    				{% endfor %}
    			
    			<br>
    			<button type="submit" class="btn btn-success">Ingresar</button>
    			<a href="">¿Aún no estas registrado?</a>
    		</form>
    	</div>
    </div>
{% endblock content %}